*.pyc
*.INDAT
*.DS_Store
*.swp
inicalc/*
FW_inicalc/*
v11_inicalc/*
v10_inicalc/*
output/*
input/*
old/*
misc/*
slurm/*
slurm-*out
*.jpg
*.job
example_input2/*
test_scripts/*
*.job_backup
v10_HHeNCOPSi/*
v10_MgSi_ini/*
v106_HHeNCOPSi/*
v106_HHeNCOPSi_clump/*
sed_correction_analysis.py
sed_correction_indat.py
fw_version_README.txt

